/* #wrapper {
  display: inline;
  border: 3px solid green;
  margin: auto;
} */

body {
  background-color: #5e42a6;
}

#start_button, #reset_button  {
  width: 60%;
  color: white;
  font-size: 35px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }

  #start_button {
    /* background-color: #4CAF50; */
    background-color: #38853a;
  }
    
  #reset_button {
    background-color: #38853a;
  }


/* #start_button, #reset_button  :hover {
  background-color: #45a049;
  } */


#game-wrapper {
  transform: scale(0);
}

#game {
  /* position: relative;
  top: 30%; */
  height: 650px;
  position: relative;
  top: 40px;
  margin: auto;
  width: 90%;
  /* background-color: #b74e91;  */
  background-color: #be71a2; 
  text-align: center;
  /* border: 3px solid green; */
}

#game div {
  position: relative;
  top: 1%;
  display: inline-block;
  border: 2px solid black;
  width: 13%;
  height: 150px;
  margin: 10px;
}

/* #results {
  display: inline-block;
} */

#wrapper-head {
  position: relative;
  top: 50px;
  color: #ffffff;
  text-shadow: 0px 0px 5px black;
  font-weight: bold;
  /* top: 20px; */
  /* display: inline-block; */
  /* border: 3px solid green; */
  background-color: #be71a2;
  width: 90%;
  border-radius: 5px;
  margin: auto;
  /* margin-bottom: 20px; */
  /* height: 200px; */
  text-align: center;
}

#wrapper-content {
  position: relative;
  /* border: 3px solid green; */
  padding-top: 15px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: x-large;
  /* margin-right: 10px;
  margin-left: 10px; */
  /* padding: 10px; */
}

#head1 {
  position: relative;
  /* display: inline-block; */
  top: 20px;
  bottom: 0px;
  width: 90%;
  border-radius: 5px;
  /* background-color: #a8a7a7; */
  background-image: url("pic02.jpg");
  /* opacity: 0.6; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  font-weight: bold;
  text-align: center;
  height: 700px
}

#head1 h1 {
  color: #ffffff;
  font-size: 130px;
  text-shadow: 0px 0px 5px black;
  font-weight: bold;
}

/* #head1 div > a  {
  color: #ffffff;
  font-size: 30px;
  text-shadow: 0px 0px 5px black;
  font-weight: bold;
} */

#current_top_score {
  color: #ffffff;
  font-size: 50px;
  text-shadow: 0px 0px 5px black;
  font-weight: bold;
}

#current_guesses_made {
  color: #ffffff;
  font-size: 50px;
  text-shadow: 0px 0px 5px black;
  font-weight: bold;
}

#previous_count {
  color: #57ce44;
  font-size: 40px;
  /* text-shadow: 0px 0px 2px white; */
}

#count {
  color: white;
  font-size: 50px;
  /* text-shadow: 0px 0px 5px white; */
  /* -webkit-text-stroke: 1px black; */
  text-shadow: -1px 1px 0 #38db3d,
				  1px 1px 0 #38853a,
				 1px -1px 0 #38853a,
				-1px -1px 0 #38853a,
}

#head2 {
  position: relative;
  top: 30%;
  /* -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}

#previous_results {
  margin-top: 10px;
  margin-bottom: 25px;
}

/* Resource:
https://stackoverflow.com/questions/8865458/how-do-i-vertically-center-text-with-css
https://www.w3schools.com/css/css_padding.asp */

/* #head h1 {
border: 3px solid green;
font-size: xx-large;

}

#head div {
  border: 3px solid green;
} */